@use "../../../styles//variables.scss" as *;
@use "../../../styles//mixins.scss" as *;

.testimonials {
    width: 100%;
    @include section;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #FBF6EA;
    padding: 90px 120px;
}

.leftBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
    margin-bottom: 12px;
}

.text {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 16px;
    max-width: 345px;
}

.subtext {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #232536;
    max-width: 350px;
}

.rightBlock {
    display: flex;
    flex-direction: column;
}

.quote {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #232536;
    max-width: 450px;
    margin-bottom: 120px;
}

.btnSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quoter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-right: 8px;
}

.quoterImg {
    width: 100px;
    height: 100px;
}

.quoterInfo {
    display: flex;
    flex-direction: column;
}

.quoterName {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #232536;
}

.quoterLocation {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6D6E76;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.btnWhite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
        filter: brightness(0);
        transform: rotate(180deg);
    }
}

.btnBlack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background-color: #232536;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    img {
        width: 26px;
        height: 26px;
    }
}

.divider {
    width: 1px;
    margin: 0 20px;
    height: 300px;
    background-color: #a3a4a6;
}

@media (max-width: $breakpoint-desktop) {
    .container {
        padding: 40px 60px;
    }

    .quoter {
        // display: flex;
        // flex-direction: row;
        // gap: 16px;
    }

    .quoterImg {
        width: 80px;
        height: 80px;
    }

    .quoterInfo {
        display: flex;
        flex-direction: column;
    }

    .quoterName {
        font-size: 20px;
    }

    .quoterLocation {
        font-size: 14px;
    }

    .btns {
        gap: 16px;
    }

    .btnWhite {
        width: 35px;
        height: 35px;

        img {
            width: 18px;
            height: 18px;
        }
    }

    .btnBlack {
        width: 50px;
        height: 50px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .leftBlock {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .quote {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .btns {
        justify-content: space-between;
        align-items: center;
    }

    .btnSection {
        flex-direction: column;
        gap: 20px;
    }

    .divider {
        display: none;
    }
}