.specialPost {
    width: 100%;
    padding: 0 80px;
    margin-bottom: 125px;
}

.container {
    display: flex;
    position: relative;
    align-items: flex-end;
    min-height: 700px;
    justify-content: flex-end;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 940px;
    width: 100%;
    z-index: -10;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 80px;
    max-width: 700px;
}

.title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
    margin-bottom: 24px;
}

.text {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 15px;
    max-width: 525px;
}

.description {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #6D6E76;
    margin-bottom: 32px;
    max-width: 525px;
}

.specialButton {
    width: 270px;
}