@use "../../../styles//variables.scss" as *;
@use "../../../styles//mixins.scss" as *;

.about {
    @include section;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    height: 23px;
    width: 100%;
    padding-left: 210px;
}

.segmentYellow {
    height: 100%;
    background-color: #FFD050;
    flex: 3;
}

.segmentBlue {
    height: 100%;
    background-color: #592EA9;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    background-color: #F4F0F8;
    padding: 90px 80px;
}

@media (max-width: $breakpoint-desktop) {
    .container {
        flex-direction: column;
        padding: 45px 40px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .container {
        padding: 30px 30px;
    }
}


