.about {
    width: 100%;
    padding: 0 80px;
    margin-bottom: 125px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    background-color: #F4F0F8;
    padding: 90px 80px;
}

