@use "../../../../styles//mixins.scss" as *;
@use "../../../../styles/variables.scss" as *;

.allPosts {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    max-width: 725px;
    max-height: 735px;
    border-radius: 3px;
}

.title {
    @include sectionTitle;
}

@media (max-width: $breakpoint-tablet) {
    .wrapper {
        padding: 0 8px;
    }
}