@use "../../../styles//mixins.scss" as *;

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.authors {
    width: 100%;
    @include section;
}

.title {
    @include sectionTitle;
    text-align: center;
}

